<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?sensor=false">
    </script>
  </head>
  <body>
    <div id="homepage-map"></div>
  </body>
</html>
