<div class="row" id="homePagePic">
  <center>
    <img src = 'http://www.budaautorepairservice.com/images/banner.jpg'>
  </center>
</div>

<div class="row">
  <div id="ourMission">
    <h1> Our Mission </h1>
      <div class="homePageText">
        Ut porttitor metus est, maximus fermentum nibh luctus ut. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed nec dui aliquam, ultricies velit eu, dictum nisl. Quisque non viverra elit, ac rhoncus nisi. Mauris ut sem nec mauris rhoncus volutpat. Fusce ac libero turpis. Maecenas efficitur erat arcu. Nunc vel turpis posuere, rhoncus odio a, egestas augue. Proin at tellus ipsum.
      </div>
  </div>
</div>

<div class="row">
  <div id="ourPlan">
    <h1> Our Plan </h1>
      <div class="homePageText">
        Ut porttitor metus est, maximus fermentum nibh luctus ut. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed nec dui aliquam, ultricies velit eu, dictum nisl. Quisque non viverra elit, ac rhoncus nisi. Mauris ut sem nec mauris rhoncus volutpat. Fusce ac libero turpis. Maecenas efficitur erat arcu. Nunc vel turpis posuere, rhoncus odio a, egestas augue. Proin at tellus ipsum.
      </div>
  </div>
</div>

<script>
// window.onLoad = userGreeting();
//
//   function userGreeting(){
//       alert('hello there' );
//   };
</script>
