<div class="row fullWidth">
  <nav class="top-bar" id="addHeaderPadding" data-topbar >
    <section class="top-bar-section">
      <ul class="left pageNavFont">
        <li>
          <div class="pageNaveSpacing" id="ourMissionButton">
            Our Mission
          </div>
        </li>
      </ul>
      <ul class="left pageNavFont">
        <li>
          <div class= "pageNaveSpacing" id="ourManufacturersButton">
            Manufacturers
          </div>
        </li>
      </ul>
      <ul class="left pageNavFont">
        <li>
          <div class="pageNaveSpacing" id="findADealerButton">
            Find a Dealer
          </div>
        </li>
      </ul>
    </section>
  </nav>
</div>


<div class="row" id="homePagePic">
  <div id="homePageImage1">
    <center>
      <img src = "https://s3-us-west-2.amazonaws.com/image-development/liftgates/truck.jpg" >
    </center>
  </div>
</div>

<div class="row">
  <div id="ourMission">
    <h1>
      <div class="h1Tag">
        Our Mission
      </div>
    </h1>
      <div class="homePageText">
        Ut porttitor metus est, maximus fermentum nibh luctus ut. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed nec dui aliquam, ultricies velit eu, dictum nisl. Quisque non viverra elit, ac rhoncus nisi. Mauris ut sem nec mauris rhoncus volutpat. Fusce ac libero turpis. Maecenas efficitur erat arcu. Nunc vel turpis posuere, rhoncus odio a, egestas augue. Proin at tellus ipsum.
      </div>
  </div>
</div>

<div class="row">
  <div id="ourManufacturers">
    <h1> Manufacturers </h1>
      <div class="homePageText">
        Ut porttitor metus est, maximus fermentum nibh luctus ut. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed nec dui aliquam, ultricies velit eu, dictum nisl. Quisque non viverra elit, ac rhoncus nisi. Mauris ut sem nec mauris rhoncus volutpat. Fusce ac libero turpis. Maecenas efficitur erat arcu. Nunc vel turpis posuere, rhoncus odio a, egestas augue. Proin at tellus ipsum.

        <br><br><br>
        <% @manufacturers.each do |manufacturer| %>
          <b><%= manufacturer.name %></b>
          <%= link_to manufacturer.name, manufacturer %>
          <br>
          <%= manufacturer.description %>
          <br><br>
        <% end %>

        <%= link_to "View All", manufacturers_path %>
      </div>
  </div>
</div>
<div class="row">
  <div id="findDealer">
    <h1> Find a Dealer </h1>
      <div class="homePageText">
        Ut porttitor metus est, maximus fermentum nibh luctus ut. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed nec dui aliquam, ultricies velit eu, dictum nisl. Quisque non viverra elit, ac rhoncus nisi. Mauris ut sem nec mauris rhoncus volutpat. Fusce ac libero turpis. Maecenas efficitur erat arcu. Nunc vel turpis posuere, rhoncus odio a, egestas augue. Proin at tellus ipsum.
      </div>
  </div>
</div>

