<div class="row">
  <%= simple_form_for @post do |f| %>
    <div class="medium -10">
      <div class="small-12 medium-6 columns">
        <%= f.input :title, label: 'Title', placeholder: 'Title', autofocus: true %>
      </div>
      <div class="small-12 columns">
        <%= f.input :body, label: 'Body', placeholder: 'Body' %>
      </div>
      <div class="small-12 columns">
        <%= f.button :submit %>
      </div>
    </div>
  <% end %>
</div>
