.business-background {
  background: url('https://s3-us-west-2.amazonaws.com/image-production/uploads/business/image/Wallpaper-Truck-Car.jpg');
  height: 100%;
  background-attachment: aboslute;
  background-size: 100%;
  background-repeat: no-repeat;
}

.titleBox {
  background-color: #3D4851;
  height: auto;
  width: 400px;
  padding: 20px;
  opacity: 0.8;
}

#titleFontColor {
  color: white;
  font-weight: bold;
}

.descriptionBox {
  height: auto;
  padding: 20px;
  background-color: #00AD9F;
  color: white;
}

#googleMapOutlineBusiness {
  height: 400px;
  width: auto;
}

#googleMap {
  height: 100%;
  width: 100%;
  background-color: black;
}

#addressBox {
  background-color: #3D4851;
  color: white;
  height: auto;
  width: 100%;
  padding: 20px;
}
