#addHeaderPadding{
  padding: 10px 20px;
  height: auto;
}

#homePageNav{
  padding: 0px;
  background-color: white;
  color: #333333;
}

#homePageImage1{
  height:auto;
  width:auto;
}

.pageNavFont{
  font-size: 1 em;
  color: silver;
}

.pageNaveSpacing{
  margin: 0px 15px;
}

#companyNameHeader{
  font-size: 3em;
  color: white;
  margin: 15px;
}
#companyNameHeader a:link,
#companyNameHeader a:visited {
  color: white;
}
#companyNameHeader a:hover {
   color: #00AD9F;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
   background-color: #3D4851;
}

#homePagePic{
  margin-left:auto;
  margin-right:auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

#sticky_footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    background-color: black;
    padding: 10px;
    color: white;
    opacity: 1.0;
    display:none;
}
#sticky_footer:hover {
 cursor:pointer;
}


#ourMissionButton{}
#ourMissionButton:hover {
 cursor:pointer;
}

#ourMission{
  width: 100%;
  height: 400px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
  background-color: #333333;
  color: #ffffff;
}


#ourManufacturersButton{}
#ourManufacturersButton:hover {
 cursor:pointer;
}

#ourManufacturers{
  width: 100%;
  height: 1000px;
  padding: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
  background-color: none;
  color: #333333;
  position: relative;
  background-color: white;
  opacity: .7;
}

#findADealerButton{}
#findADealerButton:hover {
 cursor:pointer;
}
#findDealer{
  width: 100%;
  height: 400px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
  background-color: #333333;
  color: white;
}

#whatsNewButton{}
#whatsNewButton:hover {
 cursor:pointer;
}

#whatsNew{
  width: 100%;
  height: 400px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
  background-color: #ffffff;
  color: #000000;
}


.homePageText{
  width: 80%;
  margin-left: auto;
  margin-right:auto;
}

.h1Tag{
  color: #ffffff;
  font-size: 0.75em;
}

.menu-flash{
  color: white;
}

.menu-unflash{
  color: white;
}

#map-canvas {
  height: 400px;
  width: 400px;
  margin: auto;
  padding: 0;
}

#homepage-map {
  height: 400px;
  width: 400px;
  padding: 20px;
  margin: 20px;
  margin-bottom: 30px;
}

.topNav {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 15px 6px -6px #777;
    margin-bottom: 20px;
}

#homeImageFadeout {}

#homePageTitleDiv{
  width: 100%;
  height: auto;
  padding: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 4em;
  color: black;
  font-weight: bold;
  display: none;
}
#homePageSubDiv1{
  width: 100%;
  height: auto;
  padding: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 4em;
  color: black;
  font-weight: bold;
  display: none;
}
#homePageSubDiv2{
  width: 100%;
  height: auto;
  padding: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 4em;
  color: black;
  font-weight: bold;
  display: none;
}

.lats{
    visibility: hidden;
}
.longs{
    visibility: hidden;
}

