#addHeaderPadding{
  padding: 10px 20px;
  height: auto;
}

#homePageNav{
  padding: 0px;
  background-color: white;
  color: #333333;
}

#homePageImage1{
  height:auto;
  width:auto;
}

.pageNavFont{
  font-size: 1 em;
  color: white;
}

.pageNaveSpacing{
  margin: 0px 15px;
}

#companyNameHeader{
  font-size: 2em;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

#homePagePic{
  margin-left:auto;
  margin-right:auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

#sticky_footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    background-color: black;
    padding: 10px;
    color: white;
    opacity: 1.0;
}

#ourMissionButton{}
#ourMission{
  width: 100%;
  height: 400px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
  background-color: #333333;
  color: #ffffff;
}

#ourManufacturersButton{}
#ourManufacturers{
  width: 100%;
  height: auto;
  padding: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
  background-color: #ffffff;
  color: #333333;
}

#findADealerButton{}
#findDealer{
  width: 100%;
  height: 400px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
  background-color: #333333;
  color: #ffffff;
}

.homePageText{
  width: 80%;
  margin-left: auto;
  margin-right:auto;
}

.h1Tag{
  color: #ffffff;
  font-size: 0.75em;
}

