.title {
  font-size: 1em;
  color: white;
  font-weight:bold;
  padding: 30px;
  margin-left: 25px;
  padding: 15px;
}

.description {
  font-style: italic;
  color: white;
  margin-left: 15px;
  margin-right:15px;
  padding: 20px;
}

.reviews{
  font-size: 1em;
  font-color: black;
  padding: 30px;
}

.manufacturerBaseBox {
  height: auto;
  width: 400px;
  background-color: #00AD9F;
  margin-top: 60px;
}

.buttons{
  margin-left:auto;
  margin-right:auto;
}


.button-spacing {
  margin: 15px;
}

