.title {
  font-size: 3em;
  font-color: black;
  padding: 30px;
}

.description{
  font-style: italic;
  font-color: black;
  padding: 30px;
}

.reviews{
  font-size: 1em;
  font-color: black;
  padding: 30px;
}
