.title {
  font-size: 3em;
  font-color: black;
  padding: 30px;
}

.description{
  font-style: italic;
  font-color: black;
  padding: 30px;
  margin-left:auto;
  margin-right:auto
}

.reviews{
  font-size: 1em;
  font-color: black;
  padding: 30px;
}
