<div class="manufacturerBackground">
  <div id="titleHeaderBox">
    <h1> Manufacturers </h1>
  </div>

  <div id="boxContainer">
    <% @manufacturers.each do |manufacturer| %>
      <div class="manufactureContainer <%= cycle('greenBackground', 'orangeBackground')%>">
        <h2><b><%= link_to manufacturer.name.capitalize, manufacturer, {:style=>'color:#FFFFFF'} %></b></h2>
      </div>
    <% end %>
  </div>
</div>
