
<div class="row">
<<<<<<< HEAD
  <div class="large-12 columns">
    <div class="row">
      <div class="row">
        <div class="medium-8 small-12 columns title">
          <b> <%= @manufacturer.name %> </b>
        </div>
      </div>
      <div class="row">
        <div class="medium-8 small-12 columns description">
          <%= @manufacturer.description %>
          Cras accumsan, nunc id aliquam pellentesque, arcu dui consectetur mi, eget vehicula nibh enim quis lectus. Phasellus finibus odio ac est pulvinar vestibulum. Curabitur quis urna vehicula, molestie neque eget, gravida diam. Etiam sit amet est nec nisl posuere lacinia at eu dolor. Vivamus pharetra nibh tellus, quis laoreet augue mattis sit amet.
        </div>
        <div class="medium-4 small-12 columns">
          map view map view map view map view map view map view
        </div>
=======
  <div class="medium-4 small-12 columns manufacturerBaseBox">
    <h1>
      <div class="title">
        <%= @manufacturer.name.capitalize %>
>>>>>>> add_lift_gate_models_to_manufacturers
      </div>
    </h1>
    <div class="description">
      <p><%= @manufacturer.description %></p>
    </div>
<<<<<<< HEAD
    <div class="row">
        <div class="medium-8 small-12 columns reviews">
          <b> Reviews: </b>
        </div>
    </div>
  </div>
</div>
=======
    <div class="buttons">
      <div class="button button-spacing">
        Reviews
      </div>
      <div class="button button-spacing">
        Contact
      </div>
    </div>
  </div>
  <div class="medium-4 small-12 columns">
    ddfdfd
  </div>
  <div class="medium-4 small-12 columns">
    ddfdfd
  </div>
</div>



<!-- <div id="homepage-map"></div> -->
 <script type="text/javascript"
  // src="https://maps.googleapis.com/maps/api/js?sensor=false">
</script>
>>>>>>> add_lift_gate_models_to_manufacturers
