
<div class="row">
  <div class="medium-4 small-12 columns manufacturerBaseBox">
    <h1>
      <div class="title">
        <%= @manufacturer.name.capitalize %>
      </div>
    </h1>
    <div class="description">
      <p><%= @manufacturer.description %></p>
    </div>
    <div class="buttons">
      <div class="button button-spacing">
        Reviews
      </div>
      <div class="button button-spacing">
        Contact
      </div>
    </div>
  </div>
  <div class="medium-4 small-12 columns">
    ddfdfd
  </div>
  <div class="medium-4 small-12 columns">
    ddfdfd
  </div>
</div>



<!-- <div id="homepage-map"></div> -->
 <script type="text/javascript"
  // src="https://maps.googleapis.com/maps/api/js?sensor=false">
</script>
